.imagenFondoIndex {
  background-image: url(img/Version2.jpg);
  /* background-image: url(img/Guitar3.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@media screen and (max-width: 650px) {
  .imagenFondoIndex {
    background-image: url(img/abdullah-ahmad-z--JOhE60AY-unsplash.jpg);
  }
}

.main-conteiner {
  /*  outline: 3px solid blue; */
  /*  margin: auto; */
}

@media screen and (max-width: 650px) {
  .main-conteiner {
    outline: 3px solid red;
  }
}

.main-conteiner .header {
  margin-top: 25rem;
  margin-left: 15rem;
}

@media screen and (max-width: 650px) {
  .main-conteiner .header {
    /* margin: auto; */
    outline: 3px solid yellow;
    width: 58vw;
    margin: auto;
    padding-top: 3rem;
    text-align: center;
  }
}

.main-conteiner .header h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1;
  letter-spacing: 25px;
  color: #e9e9e9f1;
}

@media screen and (max-width: 650px) {
  .main-conteiner .header h1 {
    color: red;
    letter-spacing: 15px;
  }
}

.main-conteiner .play {
  outline: 3px solid yellow;
  width: 200px;
  height: 200px;
  margin-left: 29rem;
  /*  margin: auto; */
  position: relative;
}

@media screen and (max-width: 650px) {
  .main-conteiner .play {
    outline: 3px solid #7e1ecc;
    width: 120px;
    height: 120px;
    /*  margin-left: 28rem;   */
    margin: auto;
    margin-top: 16rem;
    position: relative;
  }
}

.main-conteiner .play .triangulo {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 60px;
  left: 80px;
  border-right: 120px solid transparent;
  border-top: 40px solid transparent;
  border-left: 70px solid #cfcfcf;
  border-bottom: 40px solid transparent;
  z-index: 1;
}

.main-conteiner .play .triangulo .triangulo2 {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -36px;
  left: -70px;
  border-right: 30px solid transparent;
  border-top: 39px solid transparent;
  border-left: 63px solid black;
  border-bottom: 37.5px solid transparent;
  z-index: 1;
}

.main-conteiner .play .triangulo .triangulo-hipervinculo {
  display: inline-block;
  position: absolute;
}

.main-conteiner .play .triangulo .triangulo-hipervinculo a {
  position: relative;
  bottom: 10px;
  right: 56px;
  color: black;
}

@media screen and (max-width: 650px) {
  .main-conteiner .play .triangulo {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 40px;
    left: 50px;
    border-right: 90px solid transparent;
    border-top: 20px solid transparent;
    border-left: 35px solid #f7f7f7;
    border-bottom: 20px solid transparent;
    z-index: 1;
  }
  .main-conteiner .play .triangulo .triangulo-hipervinculo {
    display: inline-block;
    position: absolute;
  }
  .main-conteiner .play .triangulo .triangulo-hipervinculo a {
    position: relative;
    bottom: 10px;
    right: 36px;
  }
}

.main-conteiner .play .circulo {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #020202;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), -3px -3px 5px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 650px) {
  .main-conteiner .play .circulo {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 10px;
    right: 1px;
    border-radius: 50%;
    background-color: #020202;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), -3px -3px 5px rgba(255, 255, 255, 0.2);
  }
}

/* .........PAGINA...................PAGINA..............PAGINA */
.foto_pagina {
  background-image: url("img/Fede foto face3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.grid-container {
  width: 70vw;
  outline: 3px solid violet;
  display: grid;
  /*  grid-template-columns: 3fr 3fr 3fr; */
  grid-template-rows: 90px 90px 90px;
  grid-template-areas: 'discografia discografia discografia' 'videos videos videos' 'bio bio bio';
  grid-row-gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16rem;
}

.grid-container .discografia {
  outline: 2px solid blue;
  grid-area: discografia;
  background-color: rgba(201, 199, 199, 0.473);
  backdrop-filter: blur(2px);
  text-align: center;
  color: honeydew;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1;
  font-size: 30px;
  letter-spacing: 3px;
}

.grid-container .videos {
  outline: 2px solid red;
  grid-area: videos;
}

.grid-container .bio {
  outline: 2px solid yellow;
  grid-area: bio;
}

.footer {
  height: 120px;
  width: 100vw;
  /* max-width: 1900px;  investigar*/
  background-color: #131212;
  bottom: 0;
  position: fixed;
}

.footer .footer-redes {
  margin-left: 90%;
  padding-top: 3rem;
}

.footer .footer-vecinas a {
  color: #b6b3b3;
  display: inline-block;
  text-decoration: none;
  padding-left: 2rem;
  /*  margin-top: rem; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

@media screen and (max-width: 650px) {
  .footer .footer-redes {
    width: 10%;
    outline: 3px solid yellow;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
}
/*# sourceMappingURL=estilos.css.map */