* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------PORTADA---------------------------PORTADA------------------PORTADA */
.imagenFondoIndex {
  background-image: url(img/Version2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@media screen and (max-width: 650px) {
  .imagenFondoIndex {
    background-image: url(img/abdullah-ahmad-z--JOhE60AY-unsplash.jpg);
  }
}

.main-conteiner {
  width: 50vw;
  /*  @media screen and(max-width:1350px){
                outline: 3px solid blue;
                margin-top: 17rem;
           }       */
}

.main-conteiner .header {
  /* Fede Teyssandier */
  margin-top: 25rem;
  margin-left: 15rem;
  /*  @media screen and(max-width:1350px) {
                    outline: 3px solid pink;
                    margin-top: 17rem;
                  }      */
}

@media screen and (max-width: 650px) {
  .main-conteiner .header {
    width: 100vw;
    margin-top: 2rem;
    padding: 3rem;
    text-align: center;
    margin-left: 2rem;
  }
}

.main-conteiner .header h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1;
  letter-spacing: 25px;
  color: #e9e9e9f1;
}

@media screen and (max-width: 650px) {
  .main-conteiner .header h1 {
    color: white;
    letter-spacing: 15px;
    font-size: 21px;
  }
}

.main-conteiner .play {
  width: 200px;
  height: 200px;
  margin-left: 27rem;
  margin-top: 5rem;
  position: relative;
}

@media screen and (max-width: 1600px) {
  .main-conteiner .play {
    position: fixed;
    right: 65%;
    bottom: 10%;
    transform: translateX(40%);
  }
}

@media screen and (max-width: 1050px) {
  .main-conteiner .play {
    position: fixed;
    right: 50%;
    bottom: 15%;
    transform: translateX(%);
  }
}

@media screen and (max-width: 650px) {
  .main-conteiner .play {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 2.5rem;
    right: 50%;
    transform: translateX(50%);
    /*  transform: translate(x)-50%; */
    /* margin-top: 25rem; */
    /*  position: absolute;
                                     bottom: -25px;
                                     right: 75px; */
  }
}

.main-conteiner .play .triangulo {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 60px;
  left: 80px;
  border-right: 50px solid transparent;
  border-top: 40px solid transparent;
  border-left: 70px solid #cfcfcf;
  border-bottom: 40px solid transparent;
  z-index: 1;
  /* .triangulo-hipervinculo{
                          outline: 2px solid yellow;
                          display: inline-block;
                          position: absolute; 
                                      a{  
                                           position: relative;
                                           bottom: 10px;
                                           right: 56px;
                                           color:yellow;
                                        } 
                                          }  */
}

.main-conteiner .play .triangulo .triangulo2 {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -36px;
  left: -70px;
  border-right: 30px solid transparent;
  border-top: 39px solid transparent;
  border-left: 63px solid black;
  border-bottom: 37.5px solid transparent;
  z-index: 1;
}

.main-conteiner .play .triangulo .triangulo2 .triangulo-hipervinculo a {
  font-size: 35px;
  position: absolute;
  top: -21px;
  right: 5px;
  text-decoration: none;
  color: transparent;
}

@media screen and (max-width: 650px) {
  .main-conteiner .play .triangulo .triangulo2 {
    /* triangulo 2  */
    position: absolute;
    bottom: -26px;
    left: -45px;
    border-right: 25px solid transparent;
    border-top: 22px solid transparent;
    border-left: 40px solid black;
    border-bottom: 25px solid transparent;
  }
}

@media screen and (max-width: 650px) {
  .main-conteiner .play .triangulo {
    /* media de los os triangulos y hipervinculo */
    width: 0;
    height: 0;
    position: absolute;
    bottom: 20px;
    left: 43px;
    border-right: 20px solid transparent;
    border-top: 17px solid transparent;
    border-left: 35px solid #f7f7f7;
    border-bottom: 20px solid transparent;
    z-index: 1;
    /* .triangulo-hipervinculo{
              
                                                 display: inline-block;
                                                 position: absolute; 
                                                      a{ 
                                                       color: yellow;
                                                       position: relative;
                                                       bottom: 10px;
                                                       right: 35px;
                
                                                        } 
                                                               } */
  }
}

.main-conteiner .play .circulo {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #020202;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), -3px -3px 5px rgba(155, 154, 154, 0.2);
}

@media screen and (max-width: 650px) {
  .main-conteiner .play .circulo {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 28px;
    right: 6px;
    border-radius: 50%;
    background-color: #020202;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), -3px -3px 5px rgba(255, 255, 255, 0.2);
  }
}

/* .........PAGINA...................PAGINA..............PAGINA........................PAGINA */
.home {
  margin-left: 6rem;
  margin-top: 2rem;
}

.home a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1;
  text-decoration: none;
  font-size: 25px;
  color: black;
}

@media screen and (max-width: 650px) {
  .home {
    margin-left: 2rem;
  }
  .home a {
    font-size: 15px;
  }
}

.foto_pagina {
  background-image: url("img/Fede foto face3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.grid-container {
  width: 70vw;
  display: grid;
  /*  grid-template-columns: 3fr 3fr 3fr; */
  grid-template-rows: 90px 90px 90px;
  grid-template-areas: 'discografia discografia discografia' 'videos videos videos' 'bio bio bio';
  grid-row-gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13rem;
}

.grid-container .discografia {
  /*  outline: 3px solid blue; */
  grid-area: discografia;
  background-color: rgba(201, 199, 199, 0.473);
  backdrop-filter: blur(1.5px);
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1;
  font-size: 30px;
  letter-spacing: 3px;
  padding-top: 1.8rem;
  border-radius: 7px;
}

@media screen and (max-width: 650px) {
  .grid-container .discografia {
    font-size: 20px;
    letter-spacing: 2px;
    grid-template-rows: 60px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.grid-container .videos {
  /* outline: 2px solid red; */
  grid-area: videos;
  background-color: rgba(201, 199, 199, 0.473);
  backdrop-filter: blur(1.5px);
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1;
  font-size: 30px;
  letter-spacing: 3px;
  padding-top: 1.8rem;
  border-radius: 7px;
}

@media screen and (max-width: 650px) {
  .grid-container .videos {
    grid-template-rows: 50px;
    font-size: 20px;
    letter-spacing: 2px;
    grid-template-rows: 60px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.grid-container .bio {
  /*  outline: 2px solid yellow; */
  grid-area: bio;
  background-color: rgba(201, 199, 199, 0.473);
  backdrop-filter: blur(1.5px);
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1;
  font-size: 30px;
  letter-spacing: 3px;
  padding-top: 1.8rem;
  border-radius: 7px;
}

@media screen and (max-width: 650px) {
  .grid-container .bio {
    font-size: 20px;
    letter-spacing: 2px;
    grid-template-rows: 60px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 650px) {
  .grid-container {
    grid-template-rows: 50px;
    grid-row-gap: 30px;
    margin-top: 7rem;
    font-size: 20px;
    letter-spacing: 2px;
    grid-template-rows: 60px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.footer {
  height: 90px;
  width: 100vw;
  background-color: #201f1f;
  bottom: 0;
  position: fixed;
}

.footer .footer-redes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 1rem;
}

.footer .footer-redes a {
  padding: 1rem;
}

.footer .footer-vecinas {
  margin-top: -2rem;
}

.footer .footer-vecinas a {
  color: #b6b3b3;
  display: inline-block;
  text-decoration: none;
  padding-left: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

@media screen and (max-width: 650px) {
  .footer {
    height: 9vh;
  }
  .footer .footer-redes {
    width: 10%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer .footer-redes a {
    margin-top: -1rem;
  }
  .footer .footer-vecinas a {
    display: none;
  }
}

/* DISCOGRAFIA------------------------DISCOGRAFIA--------------------------DISCOGRAFIA------------ */
.discografia-body {
  background-color: #131212;
}

.nav-bar {
  background-color: #252525;
  width: 90vw;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-right: auto;
  margin-left: auto;
}

.nav-bar .nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.nav-bar .nav-links a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: #f0ebe4;
  font-size: 18px;
  font-weight: 100;
}

@media screen and (max-width: 1100px) {
  .nav-bar {
    background-color: #131212;
  }
  .nav-bar .nav-links {
    flex-direction: column;
  }
  .nav-bar .nav-links a {
    font-size: 15px;
  }
}

.sunesis-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 7rem;
}

.sunesis-container .sunesis-titulo {
  margin-left: 0rem;
  background-color: #111111;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: blanchedalmond;
  padding-top: 8rem;
  width: 20vw;
}

.sunesis-container .sunesis-titulo .texto {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sunesis-container .sunesis-titulo h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  text-align: center;
  padding-top: 2rem;
  letter-spacing: 3px;
}

.sunesis-container .sunesis-titulo h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 5rem;
}

.sunesis-container .sunesis-titulo h5 {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.sunesis-container .sunesis-foto img {
  border-radius: 20px;
  box-shadow: 50px 40px 80px  black;
}

.sunesis-container .sunesis-lista {
  background-color: #111111;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-top: 9rem;
  text-align: center;
  padding-left: 1.5rem;
}

.sunesis-container .sunesis-lista .temas-sunesis {
  margin-top: -7rem;
  margin-left: -1rem;
}

.sunesis-container .sunesis-lista .temas-sunesis h6 {
  color: #a7a4a4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 1px;
  padding-bottom: 3px;
}

.sunesis-container .sunesis-lista audio {
  padding: 6px;
  margin-top: -16px;
}

@media screen and (max-width: 1150px) {
  .sunesis-container {
    width: 100vw;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .sunesis-container .sunesis-titulo {
    width: 70vw;
    height: 200px;
    text-align: center;
    padding-top: 0.5rem;
    margin: 2rem;
    margin-top: -2rem;
  }
  .sunesis-container .sunesis-titulo h3 {
    font-size: 20px;
  }
  .sunesis-container .sunesis-titulo h2 {
    font-size: 15px;
    margin-top: -1rem;
  }
  .sunesis-container .sunesis-foto img {
    width: 70vw;
    margin-bottom: 2rem;
  }
  .sunesis-container .sunesis-lista .temas-sunesis audio {
    width: 65vw;
    padding: 12px;
  }
}

.otrosDiscos {
  margin-top: -2rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.otrosDiscos .disco1 {
  margin-top: 10rem;
  text-align: center;
  width: 22vw;
  border-radius: 10px;
}

.otrosDiscos .disco1 .disco-text {
  margin-bottom: 1rem;
  background-color: black;
  border-radius: 10px;
  box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.05), 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  color: white;
  padding: 5rem;
}

.otrosDiscos .disco1 .disco-text h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
}

.otrosDiscos .disco1 .otrosDiscos-lista {
  background-color: #111111;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-top: 9rem;
  text-align: center;
  padding-left: 1.5rem;
}

.otrosDiscos .disco1 .otrosDiscos-lista .otrosDiscos-temas {
  margin-top: -8rem;
  margin-left: -1rem;
}

.otrosDiscos .disco1 .otrosDiscos-lista .otrosDiscos-temas h6 {
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
}

.otrosDiscos .disco1 .otrosDiscos-lista audio {
  padding: 7px;
  margin-top: -15px;
  width: 17vw;
}

@media screen and (max-width: 1150px) {
  .otrosDiscos {
    flex-direction: column;
    align-items: center;
  }
  .otrosDiscos .disco1 {
    width: 50vw;
  }
  .otrosDiscos .disco1 .otrosDiscos-temas audio {
    width: 35vw;
  }
}

@media screen and (max-width: 650px) {
  .otrosDiscos .disco1 {
    width: 80vw;
  }
  .otrosDiscos .disco1 .otrosDiscos-temas audio {
    width: 70vw;
    padding: 10px;
  }
}

/* -----------------------BIOGRAFIA -----------------------------*/
.name-seccion h2 {
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

.img-principal {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.img-principal .img-principal-1 {
  width: 90vw;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
}

.conteiner {
  outline: 3px solid red;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  text-align: center;
}

.claseP {
  color: whitesmoke;
}

strong {
  color: whitesmoke;
}

.biografia-1 {
  outline: 3px solid blue;
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* .img-bio{
    width: 35vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    
  }
    .texto-bio{
      padding: 5rem;
      width: 70vw;
      height: 250px;
      color:whitesmoke;
      span{
        color:blue;
      }
    }
    @media screen and(max-width:840px) {
     
      .texto-bio{
        width: 80vw;
       padding-bottom: 2rem;
      }
      
  
      
    } */
}

.biografia-1 .bio-container-1 .texto-bio {
  color: whitesmoke;
  text-align: center;
}

.biografia-1 .bio-container-2 {
  text-align: center;
}

.biografia-1 .bio-container-2 .img-bio {
  width: 35vw;
  margin: 2rem;
  border-radius: 10px;
}

.biografia-1 .bio-container-2 .texto-bio {
  color: whitesmoke;
  text-align: center;
}
/*# sourceMappingURL=estilos.css.map */