 
  *{margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@mixin grid {

     background-color: rgba(201, 199, 199, 0.473);
        backdrop-filter: blur(1.5px);
        text-align: center;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 1;
        font-size: 30px;
        letter-spacing: 3px;
        padding-top: 1.8rem;
        border-radius: 7px;
         
}
@mixin grid-media {
    font-size: 20px;
    letter-spacing: 2px;
    grid-template-rows: 60px;
     padding-bottom: 15px;
    padding-top: 15px;
    
}
/* -------------PORTADA---------------------------PORTADA------------------PORTADA */
.imagenFondoIndex{
  
    background-image: url(img/Version2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed; 

    @media screen and (max-width: 650px) {
        background-image: url(img/abdullah-ahmad-z--JOhE60AY-unsplash.jpg);
       
        
    }
}

     .main-conteiner{
 
          .header{/* Fede Teyssandier */
                  margin-top: 25rem;
                  margin-left: 15rem;
                      @media screen and(max-width:650px){
                           width: 58vw; 
                           margin:auto;
                           padding-top: 3rem;
                           text-align: center;
                           }
         h1{ 
               font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
               font-weight: 1;
               letter-spacing: 25px;
               color: #e9e9e9f1;

                           @media screen and ( max-width:650px){
                                               color:rgb(255, 255, 255);
                                               letter-spacing: 15px;
                                               font-size: 19px;
             
            
                                                  }
     }
    
    }


   .play{
   
    width: 200px;
    height: 200px;
    margin-left: 29rem;  
    margin-top: 5rem;
    position: relative;

             @media screen and(max-width:650px){
                                     width: 100px;
                                     height: 100px;
                                     margin-left: auto;
                                     margin-right: auto;
                                     margin-top: 20rem;
                                     position: relative;
        
                                    }
                  .triangulo{
                            width: 0;
                            height: 0;
                            position: absolute;
                            bottom: 60px;
                            left: 80px;
                            border-right: 50px solid transparent;
                            border-top: 40px solid transparent;
                            border-left: 70px solid rgb(207, 207, 207);
                            border-bottom: 40px solid transparent;
                            z-index: 1;

                  .triangulo2{
                           width: 0;
                           height: 0;
                           position: absolute;
                           bottom: -36px;
                           left: -70px;
                           border-right: 30px solid transparent;
                           border-top: 39px solid transparent;
                           border-left: 63px solid rgb(0, 0, 0);
                           border-bottom: 37.5px solid transparent;
                           z-index: 1; 
                   .triangulo-hipervinculo{
                                     a{
                                       font-size: 35px;
                                       position: absolute;
                                       top: -21px;
                                       right: 5px;
                                       text-decoration: none;
                                       color:transparent;
                                       }
                                         }

                           @media screen and (max-width:650px) {
                                  /* triangulo 2  */
                                  position: absolute;
                                  bottom: -26px;
                                  left: -45px;
                                  border-right: 25px solid transparent;
                                  border-top: 22px solid transparent;
                                  border-left: 40px solid black;
                                  border-bottom: 25px solid transparent;
                                      }
                               } 
    
                     /* .triangulo-hipervinculo{
                          outline: 2px solid yellow;
                          display: inline-block;
                          position: absolute; 
                                      a{  
                                           position: relative;
                                           bottom: 10px;
                                           right: 56px;
                                           color:yellow;
                                        } 
                                          }  */

                                @media screen and (max-width:650px) {/* media de los os triangulos y hipervinculo */
                                              width: 0;
                                              height: 0;
                                              position: absolute;
                                              bottom: 20px;
                                              left: 43px;
                                              border-right: 20px solid transparent;
                                              border-top: 17px solid transparent;
                                              border-left: 35px solid rgb(247, 247, 247);
                                              border-bottom: 20px solid transparent;
                                              z-index: 1;

                                         /* .triangulo-hipervinculo{
              
                                                 display: inline-block;
                                                 position: absolute; 
                                                      a{ 
                                                       color: yellow;
                                                       position: relative;
                                                       bottom: 10px;
                                                       right: 35px;
                
                                                        } 
                                                               } */
           
                                                } 
    
    
                        }

.circulo{
    width: 160px;
    height: 160px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: rgb(2, 2, 2);

    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1),

                -3px -3px 5px rgba(255,255,255,0.2);

   @media screen and (max-width:650px) {

        width: 75px;
        height: 75px;
        position: absolute;
        top: 28px;
        right: 6px;
        border-radius: 50%;
        background-color: rgb(2, 2, 2);
    
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1),
    
                    -3px -3px 5px rgba(255,255,255,0.2);
        
   }
    

}
}
}

 
    

 /* .........PAGINA...................PAGINA..............PAGINA........................PAGINA */
 
.home{
   
    margin-left: 6rem;
    margin-top: 2rem;
    
    a{ font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 1;
        text-decoration: none;
        font-size: 25px;
        color: black;
}

  @media screen and(max-width:650px) {
    margin-left: 2rem;
    a{
      font-size: 15px;
    }
    
  }
}


 .foto_pagina{
    
    background-image:url("img/Fede foto face3.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed; 

 }



 .grid-container{
     width: 70vw;
       
     display: grid;
    /*  grid-template-columns: 3fr 3fr 3fr; */
     grid-template-rows: 90px 90px 90px ;
     grid-template-areas: 'discografia discografia discografia'
                           'videos videos videos'
                             'bio bio bio';
     grid-row-gap: 30px;
     
    margin-left: auto;
    margin-right: auto;
    margin-top: 13rem;
   


      .discografia{
       /*  outline: 3px solid blue; */
        grid-area: discografia;
        @include grid();


      @media screen and (max-width:650px){
        
          @include grid-media();

      }
         
        
      }    
      .videos{
          /* outline: 2px solid red; */
          grid-area: videos;
          @include grid();

          @media screen and (max-width:650px){
            grid-template-rows: 50px;
            
            @include grid-media();
  
        } 
      }       
      .bio{
         /*  outline: 2px solid yellow; */
          grid-area: bio;
          @include grid();

          @media screen and (max-width:650px){
            
            @include grid-media();
  
        }

      }            

      @media screen and (max-width:650px){
          
          grid-template-rows: 50px;
          grid-row-gap: 30px;
          margin-top: 7rem;

          @include grid-media(); 

      }

    }


 .footer{
    
     height: 90px;
     width:100vw;
     /* max-width: 1900px;  investigar*/
     background-color: rgb(19, 18, 18);
    bottom: 0;
    position: fixed;

    .footer-redes{
       
       margin-left: 90%;
       padding-top: 2rem; 
        
        }
    .footer-vecinas{
       a{ color: rgb(182, 179, 179);
          display: inline-block;
          text-decoration: none;
          padding-left: 2rem;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 12px;
          
    }
    }
    
    @media screen and (max-width:650px) {
      height: 9vh;
    
        .footer-redes{
        width: 10%;  
        height: 70px;
        
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
            
            
        
    }
 }
}
/* DISCOGRAFIA------------------------DISCOGRAFIA--------------------------DISCOGRAFIA------------ */
.discografia-body{
  background-color: #131212;
}
.nav-bar{
  background-color: rgb(37, 37, 37); 
  width: 90vw;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-right: auto;
  margin-left: auto;

 
 
                .nav-links{
                     display: flex;
                     flex-direction: row;
                     flex-wrap: wrap;
                     justify-content: space-around;
                     list-style: none;
                     
                     
                     
                     
                               a{    
                                     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                     text-decoration: none;
                                     color: rgb(240, 235, 228);
                                     font-size: 18px;
                                     font-weight: 100;
                                     
                                     
                                     
                                    
                                 }
                                
     

                    }
 
  
  @media screen and (max-width:1100px){
    background-color: #131212;
      .nav-links{
        flex-direction: column;
              
      a{
        font-size:15px;
      }
    }


    
  }

}




.sunesis-container{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 7rem;

  .sunesis-titulo{
  
    margin-left: 0rem;
    background-color: rgb(17, 17, 17);
    box-shadow: -3px -3px 5px rgba(255,255,255,0.1),
              
                 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: blanchedalmond;
    padding-top: 8rem;
    width: 20vw;

    .texto{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
     h3{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    text-align: center;
    padding-top: 2rem;
   
  }
   h2{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    text-align: center;
    
  
  } 
  h5{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
  
.sunesis-foto{
  img{
    border-radius: 20px;
    box-shadow: 50px 40px 80px  black;
               }

}
.sunesis-lista{
  background-color: rgb(17, 17, 17);
  box-shadow: -3px -3px 5px rgba(255,255,255,0.1),
                5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
   padding-top: 9rem;
   text-align: center;
  padding-left: 1.5rem;
  .temas-sunesis{
     margin-top:-8rem;
     margin-left: -1rem;
    h6{
      color: rgb(167, 164, 164);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 100;
      font-size: 13px;
      letter-spacing: 1px;
      padding-bottom: 6px;
    }
    
  }
  audio{
    padding: 7px;
    margin-top: -15px;
  }
  
 
  
}
@media screen and (max-width:1150px){
  width: 100vw;
  flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
 

        .sunesis-titulo{
         
          width: 70vw;
          height: 200px;
          text-align: center;
          padding-top: 0.5rem; 
          margin: 2rem;
          margin-top: -2rem;
          h2{ 
            font-size: 15px;
          }
          h3{
            font-size: 17px;
            margin-top: -20px;
          }
        }

        .sunesis-foto{
          img{
            width: 70vw;
            margin-bottom: 2rem;
          }
        }
           .sunesis-lista{
                 .temas-sunesis{
                           audio{
                             
                                width: 65vw;
                                padding: 12px;
                              
                                }
                              }
}
}
}


.otrosDiscos{
  
  margin-top: -2rem;
  width: 100vw;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .disco1{
    
     margin-top: 10rem;
     text-align: center;
     width: 22vw;
     border-radius: 10px;
    
    
     
     .disco-text{
       margin-bottom: 1rem;
       background-color: black;
       border-radius: 10px;
       box-shadow: -2px -2px 10px rgba(255,255,255,0.05),
                     5px 5px 10px rgba(0, 0, 0, 0.5);
       width: 100%;
       color: white;
       padding: 5rem;
       h3{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           font-weight: 100;
            }
                  }


                  .otrosDiscos-lista{
                    background-color: rgb(17, 17, 17);
                    box-shadow: -3px -3px 5px rgba(255,255,255,0.1),
                                  5px 5px 15px rgba(0, 0, 0, 0.5);
                    border-radius: 10px;
                    padding-top: 9rem;
                    text-align: center;
                    padding-left: 1.5rem;
                    .otrosDiscos-temas{
                       margin-top:-8rem;
                       margin-left: -1rem;
                      h6{
                        color: whitesmoke;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-weight: 100;
                      }
                      
                    }
                    audio{
                      padding: 7px;
                      margin-top: -15px;
                      width: 17vw;
                    }
                    
                   
                    
                  }    
     
    }

@media screen and (max-width:1150px){ 
    
     flex-direction: column;
     align-items: center;
         .disco1{
           width: 50vw;
         .otrosDiscos-temas{
           audio{
             width: 35vw;
           }
         }
}
}
@media screen and (max-width:650px){
  .disco1{
    width: 80vw;
  
  .otrosDiscos-temas{
    audio{
      width:70vw;
      padding: 10px;
      
    }
  }
}
}

}

/* -----------------------BIOGRAFIA -----------------------------*/

.name-seccion{
  h2{
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;

    
  }

}
.img-principal{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
      .img-principal-1{
        width: 90vw;
        border-radius: 10px;
        box-shadow: 3px 3px 3px black;
                  }
}


.biografia-1{

  width: 70vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
     .bio-container-1{
     
              .texto-bio{
                color:whitesmoke;
                text-align: center;
              }
     }

     .bio-container-2{
      
       text-align: center;
            .img-bio{
              width: 35vw;
              margin: 2rem;
              border-radius: 10px;
              
            }
            .texto-bio{
              color: whitesmoke;
              text-align: center;
            }
     }




    
  

  
   
    

  /* .img-bio{
    width: 35vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    
  }
    .texto-bio{
      padding: 5rem;
      width: 70vw;
      height: 250px;
      color:whitesmoke;
      span{
        color:blue;
      }
    }
    @media screen and(max-width:840px) {
     
      .texto-bio{
        width: 80vw;
       padding-bottom: 2rem;
      }
      
  
      
    } */
}
      

   
